.user-show-contents
  .user-show-header
    .user-name 
      = @user.user_name
    .machines_path-text
      = link_to "×", machines_path, :class => "top"
  %main
    - if @user.image.present?
      .icon-image
        = image_tag @user.image, :class=> "image"
    - else
      .icon-image
        = image_tag "IMG_1351.JPG", :class=> "image"
    .name
      - if @user.name.present?
        .under-name
          = @user.name
      - else
        .under-name
          test
    .introduction
      .under-introduction
        = @user.introduction
    .user-edit
      = link_to "プロフィールを編集", edit_user_path(@user.id), :class => "edit"
    .post-all
      %p.post
        投稿一覧
    .user-snap 
      - @machines.each do |machine|
        .snap
          = image_tag machine.image, height: "200px"