.car_show-category-contents
  .car_show-category-header
    .car_path-text
      = link_to "<", car_machines_path, :class => "car"
    %h1.header-title
      CAR
  .car_show-snap 
    - @machine.each do |machine|
      .snap
        %ul.post-header
          %li
            = link_to user_path(machine.user_id) do
              .icon-image
                = image_tag "IMG_1351.JPG", :class=> "car_show-image"
          %li
            = link_to user_path(machine.user_id) do
              .user-name
                = machine.user.user_name
        = image_tag machine.image
        .snap-content
          .display-form
            .user-name
              = machine.user.user_name
            .snap-text
              = machine.charm
          %p.snap-date
            = l machine.created_at, format: :short